<header>
  <% if manager_signed_in? %>
    <div class="header_content">
      <div>
        <a href="/">
          <h1>ASSIGN<br/><p><small>Management System</small></p></h1>
        </a>
      </div>
      <!--<div class="logo">-->
      <!--  <a href="/">-->
      <!--    <span>トップページ</span>-->
      <!--  </a>-->
      <!--</div>-->
      <div class="welcome_header">
        <p class="welcome_header_content">
          ようこそ、<%= current_manager.name %>さん!
        </p>
      </div>
      <div class="nav_menu">
        <ul>
          <li><%= link_to 'トップ', root_path %></li>
          <li><%= link_to '案件一覧', projects_path %></li>
          <li><%= link_to '社員一覧', employees_path %></li>
          <li><%= link_to 'ログアウト', sign_out_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  <% end %>
</header>